<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/folders.css">
    <title>Folders</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <h2>Folders</h2>
        <ul>
            <% locals.folders.forEach(folder => { %>
                <li>
                    <form action="/folder" method="GET" class="folder-form">
                        <input type="hidden" name="folderName" value="<%= folder.name %>">
                        <button type="submit" class="folder">
                            <img src="/svg/folder-svgrepo.svg" alt="folder icon">
                            <p><%= folder.name %></p>
                        </button>
                    </form>
                    <form action="/delete/folder" method="POST" class="delete-folder-form">
                        <input type="hidden" name="folderName" value="<%= folder.name %>">
                        <button type="submit" class="delete-folder">
                            <img src="/svg/delete-svgrepo.svg" alt="delete icon">
                        </button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <form action="/create/folder" method="POST" class="new-folder-form">
            <input type="text" placeholder="New folder name..." name="folderName">
            <button type="submit">
                <img src="/svg/folder-svgrepo.svg" alt="folder icon">
            </button>
        </form>
    </main>
</body>
</html>