<header>
    <h1>File Uploader</h1>
    <a class="author" href="https://github.com/Punith1117/file-uploader">by Punith1117</a>
    <% if (locals.username != undefined) { %>
        <p class="user-greeting">Hello, <%= username %>!</p>
        <a class="log-out" href="/log-out">Log Out</a>
    <% } %>
</header>